VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your-public-anon-key

SUPABASE_URL=https://rzouvsflpjxhwgeuaiwq.supabase.co
SUPABASE_DB_PW=CJWMtbOQyUfCizdC
SUPABASE_PUBLISH_KEY=sb_publishable_YD8n5RTe3yY6XUUlDtuGCQ_5T_zgnuv